.top-nav-container, .opened-menu-container
	display: flex
	justify-content: space-between
	height: 100px
	display: flex
	align-items: center

.web-nav
	padding-right: 70px

.nav-link
	text-transform: uppercase
	color: $black
	font-weight: 600
	padding: 0 30px
	letter-spacing: 0.4px
	
.header.header-container
	position: fixed
	top: 0
	right: 0
	z-index: 10
	width: 100%
	transition: all 0.3s linear
	&.with-bg
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1)
		background-color: $white
	.menu-logo
		padding: 20px 0
		&:focus
			outline: none
	.hamburger-btn
		padding: 20px 0
		display: none
		
.menu-logo
	display: block
	width: 43px
	height: 70px
	background-image: url('../images/dest/menu-logo.svg')
	background-repeat: no-repeat
	background-position: center

.opened-menu-container
	position: relative
	z-index: 30

.menu-wave
	display: none
	width: 100%
	height: 100%
	position: absolute
	left: 0
	bottom: 0
	z-index: 20
	
.menu-container
	display: flex
	flex-direction: column
	width: 100%
	height: 100%
	background-color: white
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 30
	visibility: hidden
	opacity: 0
	transition: 0.4s ease
	&.open
		display: flex
		opacity: 1
		visibility: visible
	.menu-brand-logo
		max-width: 640px
		position: absolute
		top: 0
		right: 150px
		opacity: 0
		transition: all 0.5s linear
		&.show
			opacity: 1

.main-menu
	flex-grow: 1
	display: flex
	justify-content: center
	align-items: center
	position: relative
	z-index: 30
.menu-ul
	text-align: center
	transform: translateY(-30px)
.menu-li
	transform: translateY(300px)
	opacity: 0
	padding: 14px 0
	&.show
		transform: translateY(0)
		opacity: 1
.menu-li-1
	transition: all 0.4s ease
.menu-li-2
	transition: all 0.6s ease
.menu-li-3
	transition: all 0.8s ease
.menu-link
	display: block
	transition: all 0.2s linear
	&:hover
		opacity: 0.6

.socials-container
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 31
.menu-socials
	position: absolute
	right: 0
	top: 50%
	transform: translateY(-50%)
	.social
		margin: 30px 0 0 0

.menu-logo-link, .hamburger-btn, .close-btn
	transition: all 0.2s linear
	&:hover
		opacity: 0.5

@media only screen and (max-width: 1400px)
	.menu-socials
		right: 30px

@media only screen and (min-width: 1400px)
	.header
		.container
			padding: 0

@media only screen and (max-width: 1280px)
	.menu-container
		.title-102
			font-size: 102px

@media only screen and (max-width: 767px)
	.header.header-container
		.hamburger-btn
			display: block
	.nav-link
		display: none
	.top-nav-container, .opened-menu-container
		height: 80px
	.menu-container
		.title-102
			font-size: 62px
		.menu-brand-logo
			right: 0
	.socials-container
		position: static
		transform: initial
	.menu-socials
		position: initial
		display: flex
		justify-content: center
		transform: translateY(-160px)
		.social
			transform: translateY(200px)
			margin: 0 20px 
			opacity: 0
			transition: all 0.8s ease
			&.show
				opacity: 1
				transform: initial
	.menu-ul
		transform: translateY(-84px)
	.close-icon
		transform: translate(6px, 0)