.license
	padding: 60px 0
	.row	
		display: flex
		align-items: flex-start
		
		&:nth-child(2)
			margin: 45px 0 0 0
			.title-54
				max-width: 1000px

@media only screen and (max-width: 767px)
	.license
		padding: 0
		.row
			&:nth-child(2)
				margin: 20px 0 0 0