html
  font-size: 16px

body
	font-family: 'Cera Pro', Helvetica, Arial, sans-serif

.container
  width: 100%
  max-width: 1440px
  padding: 0 80px
  @media only screen and (max-width: 1024px)
    padding: 0 30px

.location
  margin: 20px 0 0 0

.place
  margin: 6px 0 13px 0

.summary
  margin-bottom: 9px


.owl-nav
  display: flex
  justify-content: center

.owl-prev, .owl-next
  width: 80px
  height: 40px
  background-repeat: no-repeat
  background-position: center center

.with-white-arrows
  .owl-prev
    background-image: url('../images/dist/arrow-left-white.svg')
  .owl-next
    background-image: url('../images/dist/arrow-right-white.svg')

.with-black-arrows
  .owl-prev
    background-image: url('../images/dist/arrow-left-black.svg')
  .owl-next
    background-image: url('../images/dist/arrow-right-black.svg')
    