// Contact black social icons
.social
	display: block
	width: 42px
	height: 42px
	display: flex
	justify-content: center
	align-items: center
	transition: all 0.1s linear
	&:hover
		opacity: 0.6
	&.white
		background-repeat: no-repeat
		background-position: center
		&.facebook
			background-image: url('../images/dest/menu-icon-facebook.svg')
		&.instagram
			background-image: url('../images/dest/menu-icon-instagram.svg')
		&.twitter
			background-image: url('../images/dest/menu-icon-twitter.svg')
		&.youtube
			background-image: url('../images/dest/menu-icon-youtube.svg')
