.title102
	font-size: 102px
	line-height: 1.2
	color: $black

.title75
	font-size: 75px
	color: $black

.title64
	font-size: 64px
	color: $black

.title60
	font-size: 60px
	color: $black

.title54
	font-size: 54px
	color: $black

.title42
	font-size: 42px
	&.dark
		color: $black400
	&.light
		color: $gray400

.title40
	font-size: 40px
	&.dark
		color: $black
	&.light
		color: $white

.title38
	font-size: 38px
	color: $black

.title36
	font-size: 36px $black400

.title34
	font-size: 34px
	color: $black

.title30
	font-size: 30px
	color: $black

.title28
	font-size: 28px
	color: $black400

.title24
	font-size: 24px
	color: $black200


.paragraph18
	font-size: 18px
	line-height: 1.2
	color: $black
	&.dark
		color: $black400
	&.dark05
		color: $black100
	&.gray
		color: $black300

.paragraph16
	font-size: 16px
	&.dark
		color: $black100
	&.light
		color: $gray200

.paragraph14
	font-size: 14px
	&.dark
		color: $black
	&.light
		color: $gray200