.homepage
	.hero
		.top-content
			position: relative
			font-size: 0
			.container
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				display: flex
				justify-content: space-between
				align-items: center
		.section-title
			max-width: 1040px
		.hero-socials
			margin-left: 30px
			.social
				margin-top: 40px
		.hero-logo
			width: 100%
			max-width: 990px
		.slider-wrapper
			background-image: url('../images/dest/hero-wave.png')
			background-repeat: no-repeat
			background-size: contain
			background-position: center
		.slider-container
			display: flex
			justify-content: flex-end
			transform: translateY(-2px)
		.hero-slider
			max-width: 1100px
			background: black
			.owl-nav
				padding: 0 0 30px 70px
				position: absolute
				bottom: 0
				left: 0
			.owl-next
				margin-left: 50px
		.slider-item-wrap
			position: relative
		.slider-content
			max-width: 480px
			position: absolute
			bottom: 90px
			left: 70px

	.why-victory
		background-color: $sectionBg
		padding: 300px 0 200px 0
		margin: -120px 0 0 0
		.section-title
			margin: 50px 0 88px 0
			max-width: 1000px
		.why-container
			display: flex
			justify-content: space-between
			align-items: center
		.why-content
			width: 80%
			max-width: 700px
			margin: 0 60px
			text-align: justify
		.read-more
			margin: 0 0 0 30px
		@media only screen and (max-width: 1024px)
			.section-title
				margin: 40px 0
			.why-container
				flex-direction: column-reverse
				align-items: flex-start
			.why-content
				margin: 0
			.read-more
				margin: 30px 0

	.review
		background-color: $sectionBg
		text-align: center
		padding: 60px 0 100px 0
		.section-title
			margin: 0 auto 80px auto
			width: 90%
			max-width: 900px
		.subtitle
			padding: 32px 0 16px 0
		.slider-item-wrap
			max-width: 580px
			margin: 0 auto
		.owl-nav
			margin-top: 50px
		.owl-next
			margin-left: 50px
		.owl-prev
			margin-right: 50px
		@media only screen and (max-width: 1024px)
			text-align: left
			padding: 40px 0
			.section-title
				margin: 0 auto 40px auto
			.subtitle
				padding: 20px 0

	.home-portfolio
		.row
			position: relative
			&.row-1
				.container
					transform: translateY(-50px)
				&:before
					content: ""
					position: absolute
					width: 100%
					height: 500px
					bottom: 0
					left: 0
					z-index: -1
					background-image: url('../images/dest/hero-wave.png')
					transform: scaleX(-1)
					background-repeat: no-repeat
					background-size: cover
					background-position: bottom
		.row-2
			padding-bottom: 100px
			.container
				transform: translateY(-10px)
		.row-3
			padding-bottom: 150px
			.container
				transform: translateY(-50px)
		.row-4
			.container
				transform: translateY(-100px)
		.row-2, .row-4
			background-color: $sectionBg
		.image-right
			.figure
				max-width: 564px
		.image-left
			.figure
				max-width: 650px
		.figure
			width: 100%
			display: block
			font-size: 0
			position: relative
		.port-logo
			width: 276px
			position: absolute
			top: -192px
			left: -70px
		.port-img
			width: 100%
		.port-content
			max-width: 450px
			margin: 0 80px
		.title-42

	.license
		padding: 100px 0
		.row	
			display: flex
			align-items: flex-start
			margin: 45px 0 0 0
			&:nth-child(2)
				.title-54
					max-width: 1000px
		svg
			margin: 12px 0 0 0
			path 
				stroke-dasharray: 0 300
				transition: all 0.6s linear
				&.animate
					stroke-dasharray: 300 0
		.title-54
			margin: 0 0 0 50px
		
	.slider-potfolio
		.slider-wrapper
			max-width: 880px
		.slider-item
			width: 100%
			max-width: 880px
			height: 800px
			border: 1px solid red
			background-color: #c1c0c0
		.slider-wrapper
			position: relative
		.counter
			display: flex
		.current-item, .slider-length
			font-variant-numeric: tabular-nums
		.title-slider
			.owl-nav
				justify-content: space-between
				margin-top: 30px
		.current-item
			writing-mode: vertical-rl
			transform: rotate(-180deg)
		.title-40
			margin-top: 40px
		.title-slider-item
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: space-between
			position: absolute
			z-index: 1
			right: -260px
			bottom: 40px
			max-width: 400px
			min-height: 500px
			background: $black100
			padding: 30px


@media only screen and (max-width: 1280px)
	.homepage 
		.hero 
			.hero-logo
				max-width: 700px
		
		.license
			.row
				flex-direction: column

@media only screen and (max-width: 1023px)
	.homepage 
		.hero 
			.hero-logo
				max-width: 80vw
			.hero-socials
				display: none

		.home-portfolio
			.row
				padding: 0 0 90px 0
			.port-content
				margin: 16px 0 0 0
			.port-logo
				display: none


@media only screen and (max-width: 767px)
	.homepage 
		.hero 
			.hero-logo
				max-width: initial
			.top-content
				.container
					position: static
					transform: translate(0px, -100px)
			.slider-container
				padding: 0
				transform: translateY(-40px)
			.slider-wrapper
				background-image: none
			.slider-content
				max-width: 90%
				left: 30px
			.hero-slider
				.owl-nav
					padding: 0 0 20px 30px
			.owl-carousel 
				.owl-item 
					img
						height: 620px
						object-fit: cover

		.why-victory
			padding: 140px 0 20px 0
			.why-content
				width: 100%

		.home-portfolio
			.row
				&:first-child
					&:before
						height: 120px
				
		.license
			.row
				margin: 25px 0 0 0
			.title-54
				padding: 25px 30px 0 30px
				margin: 0
