@import '../partials/section-license'
@import '../partials/contact-footer'
	
.homepage
	.hero
		.typed-cursor
			font-size: 80px
		.text-container
			width: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		.text-content
			width: 100%
			min-height: 430px
			max-width: 560px
			position: relative
			margin-top: 90px
			margin-left: 60px
			font-family: "Uni Sans"
			span 
				letter-spacing: 3px
		.top-content
			position: relative
			font-size: 0
			display: flex
			justify-content: flex-end
			padding-right: 18%
			padding-top: 260px
			.container
				text-align: left
		.section-title
			max-width: 1040px
			margin: 0 0 0 100px
			display: contents
			line-height: 1.4
			word-break: break-word
		.hero-socials
			position: absolute
			right: 0
			top: 50%
			margin-left: 30px
			transform: translate(10px, -50%)
			.social
				margin-top: 30px
		.hero-logo
			width: 100%
			max-width: 540px
		.slider-wrapper
			position: relative
		.slider-container
			display: flex
			justify-content: flex-end
			transform: translateY(-2px)
		.hero-slider
			max-width: 1124px
			background: black
			position: relative
			
			.owl-nav
				padding: 0 0 30px 70px
				position: absolute
				bottom: 0
				left: 0
			.owl-next
				margin-left: 50px
		.slider-item-wrap
			position: relative
			&:before
				content: ""
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(to bottom, transparent 0%, #131313 150%)
				z-index: 1
		.slider-content
			max-width: 480px
			position: absolute
			bottom: 90px
			left: 70px
			z-index: 10

	.services
		padding: 100px 0 40px 0
		position: relative
		.service-top-content
			display: flex
			align-items: center
		.service-logo
			max-width: 380px
			width: 100%
			position: absolute
			left: 0
		.service-p
			max-width: 800px
			margin-left: 18vw
		.service-ul
			display: flex
			flex-wrap: wrap
			list-style-type: none
			padding: 0
			margin-top: 160px
			margin-bottom: 70px
		.service-li
			width: 30%
			max-width: 360px
			flex-grow: 1
			position: relative
			margin: 20px
		.service-title
			text-transform: uppercase
		.service-inner-ul
			margin-top: 24px
			padding-left: 12px
			list-style: none
		.service-inner-li
			position: relative
			padding: 2px 0
			&.without-line
				margin-bottom: 20px
				margin-left: -10px
				&::before
					display: none
					
			&::before
				content: '-'
				position: absolute
				left: -10px
				top: 50%
				transform: translateY(-50%)
		.service-footer
			text-align: left
			display: flex
			flex-direction: column
			align-items: flex-start
			p:not(:last-child)
				margin-bottom: 18px
			.read-more
				margin-top: 66px

	.video
		padding: 40px 0 80px 0
		.video-wrapper
			margin: 0 auto
			max-width: 1170px
			position: relative
			padding-top: 51%
		.iframe
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0


	.home-portfolio
		.title-64
			margin-bottom: 140px
		.row
			position: relative
			&.row-1
				.container
					transform: translateY(-50px)
		.row-2
			padding-bottom: 100px
			.container
				transform: translateY(-10px)
		.row-3
			padding-bottom: 150px
			.container
				transform: translateY(-50px)
		.row-4
			.container
				transform: translateY(-100px)
		.row-2, .row-4
			background-color: $sectionBg
		.image-right
			.figure
				max-width: 564px
		.image-left
			.figure
				max-width: 650px
		.figure
			width: 100%
			display: block
			font-size: 0
			position: relative
		.port-logo
			width: 276px
			position: absolute
			top: -192px
			left: -70px
		.port-img
			width: 100%
			filter: grayscale(100%)
			transition: all 1s ease
			&:hover
				filter: grayscale(0)
		.port-content
			max-width: 450px
			margin: 0 80px

@media only screen and ( max-width: 1440px )
    .services
        .service-ul
            justify-content: center
		

@media only screen and (min-width: 1400px)
	.homepage 
		.hero 
			.top-content
				.container
					padding: 0

@media only screen and (max-width: 1280px)
	.homepage 
		.hero 
			.typed-cursor
				font-size: 72px
			.text-content
				padding: 100px 0 0 20px
				min-height: 230px
				margin-left: initial
			.hero-socials
				transform: translate(-16px,-50%)
			.hero-logo
				max-width: 700px
			.section-title
				margin: auto


@media only screen and (max-width: 1023px)
	.homepage 
		.hero 
			.typed-cursor
				font-size: 52px
			.hero-logo
				max-width: 80vw
			.hero-socials
				display: none
			.social
				background-image: none

		.home-portfolio
			.row
				padding: 0 0 90px 0
			.row-4
				padding: 0
			.port-content
				margin: 16px 0 0 0
			.port-logo
				display: none
			.image-right, .image-left
				.figure
					max-width: initial


@media only screen and (max-width: 767px)
	.homepage 
		.hero 
			.hero-logo
				max-width: initial
				position: absolute
				top: 0
				right: 0
			.text-content
				padding: 0
				min-height: 250px
				margin: 0
			.title-80
				font-size: 52px
			.top-content
				padding-right: 0
				.container
					position: static
					transform: translate(0, -20vw)
			.slider-container
				padding: 0
				transform: translateY(-40px)
			.slider-content
				max-width: 90%
				left: 30px
			.hero-slider
				.owl-nav
					padding: 0 0 20px 30px
			.owl-carousel 
				.owl-item 
					img
						height: 620px
						object-fit: cover
		.services
			padding: 40px 0
			.service-ul
				flex-direction: column
				align-items: center
				margin-top: 0
			.service-li
				width: 100%
				margin: 70px 0 0 0 
			.service-footer
				.read-more
					margin-top: 20px
			.service-logo
				left: initial
				right: 0
				top: -40px
			.service-p
				margin: 0


		.home-portfolio
			.title-64
				margin-bottom: 80px
			.row
				&:first-child
					&:before
						height: 120px
				
@media only screen and ( max-width: 400px )
	.homepage
		.hero
			.text-content
				min-height: 360px
	