@import '../partials/section-license'
@import '../partials/founder'
@import '../partials/contact-footer'
	
.service
	.contact
		.contact-wave
			display: none
	.figure-wrapper
		position: relative
	.hero
		padding: 120px 0 0 0
		position: relative
		.hero-title
			transform: translateY(400px)
			transition: all 1.2s ease
		.hero-paragraph
			transform: translateY(600px)
			transition: all 1.6s ease
		.hero-title, .hero-paragraph
			opacity: 0
			&.animate
				opacity: 1
				transform: initial
		.hero-wave
			width: 100%
			position: absolute
			left: 0
			bottom: 0
			display: none
		.container
			display: flex
			justify-content: space-between
			align-items: center
			transform: translateY(50px)
		.content
			max-width: 575px
			margin: 0 80px 0 0
			width: 50%
		.paragraph-18
			margin: 36px 0 0 0
			text-align: justify
		.figure
			display: block
			width: 100%
			max-width: 560px
			position: relative
			padding-top: 56.25%
		.service-img
			position: absolute
			top: 0
			left: 0
			object-fit: cover
			width: 100%
			height: 100%

	.section-services
		padding: 136px 0 0 0
		.container
			display: flex
			align-items: flex-start
		.services-menu
			width: 40%	
			max-width: 363px
			background-color: #f6f7fb
			margin: 0 44px 0 0
			position: sticky
			left: 30px
			top: 120px
		.service-btn
			padding: 20px 40px
			position: relative
			width: 100%
			text-align: left
			font-family: 'Cera Pro', Helvetica, Arial, sans-serif
			&.active
				font-weight: 500
				font-size: 30px
				padding: 20px 110px 20px 70px
				text-align: left
				background-color: #ecedf1
				&::before
					content: url('../images/dest/selector.svg')
					position: absolute
					top: 50%
					transform: translateY(-50%)
					left: 45px
		.current-service
			width: 100%	
			max-width: 764px
			display: none
			text-align: justify
			&.active
				display: block
			.paragraph-18
				padding: 20px 0 0 0
		.title-60
			padding: 0 0 20px 0
			text-align: left
		.figure
			margin: 60px 0 20px 0
		.footer-content
			display: flex
		.footer-figure
			max-width: 400px
			margin: 0 56px 0 0
			position: relative
		.title-42
			padding: 50px 0
		.text-content
			max-width: 310px
			.top-p
				padding: 0
		.square
			width: 376px
			height: 344px
			background-color: $sectionBg
			position: absolute
			z-index: -1
			bottom: -140px
			left: -76px
			opacity: 0.5
	
@media only screen and (max-width: 1023px)
	.service
		.hero
			padding: 80px 0 0 0
			.content, .figure
				max-width: initial
			.container
				flex-direction: column
			.figure
				padding-top: 110%
			.content
				width: 100%
				margin: 0
				padding: 0 0 74px 0
		.section-services
			.square
				display: none
			
@media only screen and (max-width: 900px)
	.service
		.section-services
			.container
				flex-direction: column
			.services-menu
				width: 100%
				max-width: initial
				margin: 0 0 32px 0
				position: initial
			.current-service
				max-width: initial
			.footer-content
				flex-direction: column-reverse
			.text-content
				width: 100%
				max-width: initial
			.title-42
				padding: 50px 0 0 0 
			.footer-figure
				max-width: initial
				width: 100%
				margin: 30px 0 0 0
			
@media only screen and (max-width: 400px)
	.service
		.section-services
			.container
				transform: scale(1.09) translateY(67px)
		.hero
			overflow: hidden
			.hero-wave
				width: 140%
				bottom: initial
				top: 52%
			.figure
				padding-top: 116%
		.section-services
			padding: 0